.home {
  width: 100%;
  height: 100vh;
  background-color: rgb(16, 6, 6);
}

.hero {
  /* -webkit-text-fill-color: #0000;
  background: linear-gradient(90deg, #9945ff, #14f195, #14f195, #14f195);
  -webkit-background-clip: text; */
}

main {
  width: 100%;
}

.cutestMeme {
  height: 70rem;
  width: 100%;
  background-image: url("../Forrest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.cutestMeme::before {
  content: "";
  position: absolute;
  height: 500px;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
}
.cutestMeme::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  background: linear-gradient(360deg, black, rgba(0, 0, 0, 0));
}

.kurwaContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  inset: 0;
}

.kurwa {
  position: absolute;
  inset: 0;
  font-size: 20px;
  color: rgb(250, 99, 238);
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    top: -50px;
  }
  100% {
    top: 100%; /* Fall below the container */
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 40px;
}

.content h2 {
  margin-bottom: 2rem;
  z-index: 10;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.checksize {
  font-size: 40px;
}
.cross {
  font-size: 32px;
}

.checkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(0, 247, 0);
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black,
    3px 3px 0 black; /* Creates a black border-like shadow */
  padding-left: 3rem;
}

.redCheck {
  color: rgb(247, 0, 0);
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black,
    3px 3px 0 black; /* Creates a black border-like shadow */
}

.boxWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bobrImg {
  position: relative;
  inset: 0;
  border-radius: 0.5rem;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.lore {
  height: 60rem;
  width: 100%;
  background-image: url("../Forrest2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.lore::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
}

.wrapper {
  z-index: 10;
  width: 20rem;
  margin: 0 auto;
  padding-top: 5rem;
  font-size: 24px;
  overflow: auto;
  position: sticky;
  top: 10rem;
}

.stickyText {
  color: white;
}

.scrollWrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}

.kurwaImg {
  position: relative;
  width: 350px;
  border-radius: 2rem;
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 175px);
  z-index: 20;
}

.memes {
  width: 100%;

  padding: 1rem;
  background-color: black;
}

.memeImg {
  border-radius: 0.5rem;
  z-index: 100;
}

.markets {
  width: 100%;
  height: 55rem;
  background-color: red;
  background-image: url("../Grass.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.markets::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 700px;
  background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
}

.kurwaSpan {
  color: white;
  font-size: 64px;
  margin-right: 1rem;
}

.marqueeBox {
  padding: 4rem 0rem;
  width: 100%;
}

.marqueeBox2 {
  padding: 2rem 0;
  width: 100%;
}

.joinBox {
  width: 40rem;
  height: 20rem;
  box-shadow: 0px 0px 20px black;
  background-color: rgba(0, 0, 0, 0.597);
  border-radius: 0.5rem;
  backdrop-filter: blur(0.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 1rem;
}

.joinTitle {
  font-size: 48px;
  -webkit-text-fill-color: #0000;
  background: linear-gradient(90deg, #9945ff, #14f195, #14f195, #14f195);
  -webkit-background-clip: text;
  font-weight: bold;
  text-transform: uppercase;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.actionCta {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: white;
  cursor: pointer;
  /* box-shadow: 0px 0px 5px rgb(250, 1, 250); */
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.actionCta:hover {
  transform: scale(1.1);
}

.linksBar {
  display: flex;
  gap: 1rem;
}

.bg {
  position: absolute;
  width: 300px;
  right: 0rem;
  top: -155px;
}

.howtobuy {
  height: 100rem;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  position: relative;
  background-image: url("../Trees.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  padding: 0rem 1rem;
}

.howtobuy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 700px;
  background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
}
.howtobuy::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1200px;
  bottom: 0;
  background: linear-gradient(360deg, black, rgba(0, 0, 0, 0));
}

.stickyBox {
  /* background-color: red; */
  width: 100%;
  height: 20rem;
  margin-top: -5rem;
  text-align: center;
  position: relative;
  /* overflow: auto; */
}

.howToHero {
  font-size: 38px;
  color: rgb(231, 85, 253);
  font-size: 80px;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
  position: sticky;
  top: 10rem;
}

.blackBox {
  height: 9rem;
  width: 100%;
  background-color: black;
  position: absolute;
  top: -1rem;
  z-index: 20;
}

.modalStack {
  width: 30rem;
  height: 60rem;
  /* background-color: red; */
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.stackModal {
  width: 100%;
  min-height: 12.5rem;
  /* background-color: red; */
  z-index: 100;
  border-radius: 2rem;
  background-color: rgb(0, 44, 18);
  backdrop-filter: blur(2rem);
  border: 2px solid rgb(0, 68, 0);

  color: white;
  text-shadow: none;
  padding: 1rem;

  position: relative;
}
.stackModal:nth-child(odd) {
  margin-right: 6rem;
}

.innerModal {
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
  position: relative;
}

.coble {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-image: url("../Cobblestone.webp");
  background-size: contain;
  z-index: 0;
  opacity: 0.3;
  border-radius: 2rem;
}

.stackModal p {
  font-size: 24px;
  text-align: center;
}

.phantomAnchor {
  color: white;
}

.marqueeWrap {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 0rem;
  position: relative;
  z-index: 100;
}

.marqueeWrap::before {
  position: absolute;
  width: 225px;
  height: 100%;
  content: "";
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  z-index: 100;
}
.marqueeWrap::after {
  position: absolute;
  width: 225px;
  height: 100%;
  content: "";
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  z-index: 100;
}

.box {
  width: 12.5rem;
  height: 12.5rem;
  /* border: 1px solid red; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: linear-gradient(90deg, #00ff3c62, #00ff3c34);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-right: 2rem;
  font-size: 30px;
}

.box span {
  position: absolute;
  top: 8rem;
}

.icon {
  font-family: "Titan One", sans-serif;
  font-size: 52px;
  letter-spacing: -10px;
  color: yellow;
  margin-bottom: 0.5rem;
  /* padding-bottom: 0.5rem; */
}

.marqueeBox {
  margin-top: 1rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  gap: 1.5rem;
  padding: 0rem 0.75rem;
}

.nftcollection {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.bobardioNFT {
  font-size: 60px;
  margin-bottom: 2rem;
  font-size: 38px;
  color: rgb(231, 85, 253);
  font-size: 80px;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.picGrid {
  width: 80vw;
  margin-bottom: 10rem;
  /* border: 1px solid red; */
  position: relative;
}

.buyBox {
  left: calc(50% - 118px);
  top: 50%;
  background-color: transparent;

  position: absolute;
  z-index: 100;
}

.buyBox button {
  border: none;
  outline: none;
  font-size: 40px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.627);
  cursor: pointer;
}
.buyBox button {
  border: none;
  outline: none;
  font-size: 40px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.627);
  transition: all 0.1s ease-in-out;
}

.buyBox button:hover {
  background-color: white;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.bobImg {
  opacity: 0.2;
  transition: all 0.5s ease-in-out;
  border-radius: 1rem;
}

.bobImg.active {
  opacity: 1;
  animation: fadeInOut 1s forwards;
}

@media only screen and (max-width: 1200px) {
  header {
    background-position: 55% 80%;
  }
}
@media only screen and (max-width: 700px) {
  .joinBox {
    width: 95%;
  }
  .stackModal {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  .headertitle {
    font-size: 8rem;
    top: 5rem;
  }
  .howtobuy {
    height: 93rem;
  }
  header {
    height: 55rem;
  }
}

@media only screen and (max-width: 550px) {
  .modalStack {
    width: 100%;
    /* padding: 0 1rem; */
  }
  .stackModal {
    width: 100%;
  }
  .bobImg {
    opacity: 1;
    width: 9rem;
    height: 9rem;
  }
  .bobardioNFT {
    font-size: 60px;
  }

  .buyBox {
    bottom: -4.5rem;
    top: auto;
  }
}
@media only screen and (max-width: 450px) {
  .headertitle {
    font-size: 27vw;
    top: 8rem;
  }
  .copy {
    font-size: 20px;
    margin-top: 1rem;
  }

  .checkBox {
    padding-left: 2rem;
  }
  .markets {
    height: 53rem;
  }

  .marqueeWrap::before {
    position: absolute;
    width: 125px;
    height: 100%;
    content: "";
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    z-index: 100;
  }
  .marqueeWrap::after {
    position: absolute;
    width: 125px;
    height: 100%;
    content: "";
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    z-index: 100;
  }
  .cutestMeme {
    height: 50rem !important;
  }
}
